# environment files
.env
.venv/*

# data
data
data-unversioned

# registration wrapper
/scripts/registration_wrapper/run_files.registration
/scripts/registration_wrapper/output_logs

# logs
/logs/*
runs

# models
/models/*.pt
/doc/models/model*/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class