# environment files
.env
.venv/*

# data
data
data-unversioned

# data preproc wrapper
/scripts/data_preproc_wrapper/run_files*
/scripts/data_preproc_wrapper/output_log*

# logs
/logs/*
runs

# models
/models/*.pt
/doc/models/model*/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class