# environment files
.env
.venv/*

# data
data

# data preproc wrappers
scripts/data_preproc_wrappers/*/run_files*
scripts/data_preproc_wrappers/*/output_logs*

# logs
/logs/*
runs

# models
/models/*.pt
/doc/models/model*/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class